<!DOCTYPE html>
<html>

<head>

	 <link rel="css" type="text/css" href="css/boot.css" />
	 <link href ="/css/boot.css" rel="stylesheet">
</head>

	<body>
	<%= yield %>
	
	<footer>
	Copyright © Sashiba/Alexander Pirnarev
	</footer>
	</body>
</html>