<header>
		<h1>Sashibox</h1>
</header>
<nav>
	<ul id="menu">
 	<li><a href="/login">Login</a></li>
 	<li><a href="/signup">Sign up</a></li>
  	</ul>  
</nav>

<section>
	<h1>Login</h1>
	<form action="/login" method="post"> 
		User name:<br>
		<input type="text" name="userid" value="">
		<br>
		User password:<br>
		<input type="password" name="psw" value="">
		<br>
		<a href="/forgot">Forgotten Password</a>
		<br><br>
		<input type="submit" value="Login">
	</form>
</section>