<header>
	<h1>Sashibox</h1>
</header>
<nav>
	<ul id="menu">
 	<li><a href="/login">Login</a></li>
 	<li><a href="/signup">Sign up</a></li>
  	</ul>  
</nav>
<section>
	<h1>Reset Password</h1>
	<form action="/resetpw" method="post">
		New Password:<br>
		<input type="text" name="psw" value="">
		<br><br>
		<input type="submit" value="Reset">
	</form>
</section>