<!DOCTYPE html>
<html>

<head>
	<style>
	header {
   		background-color: #5CADFF;
   		color:white;
   		text-align:center;
   		padding:5px;	 
	}
	nav {
   		line-height:30px;
   		background-color:#3399FF;
   		height:500px;
   		width:100px;
   		float:left;
   		padding:5px;	      
	}
	section {
   		width:800px;
   	 	float:left;
   		padding:5px 30px;	 	 
	}
	footer {
    	background-color:#a8a8a8;
    	color:white;
    	clear:both;
    	text-align:center;
    	padding:5px;	 	 
	}
	ul#menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul#menu li {
		padding: 3px;
	}
	ul#menu a {
		display: block;
   		width: 60px;
    	color: white;
    	text-decoration: none;
    	border-radius: 4px 4px 0 0;
   	}
	ul#menu a:hover {
		background-color: #1F5C99;
	}
	</style>
</head>

	<body>
	<header>
		<h1>Sashibox</h1>
	</header>
	<nav>
	<ul id="menu">
 	<li><a href="/login">Login</a></li>
 	<li><a href="/signup">Sign up</a></li>
  	</ul>  
	</nav>
	<section>
		<h1>Sign up</h1>
		<%@messages.each do |msg| %>
		<%="#{msg}"%>
		<%end%>
		<form action="/signup" method="post">
			User name:<br>
			<input type="text" name="userid" value="">
			<br>
			User password:<br>
			<input type="password" name="psw" value="">
			<br>
			First name:<br>
			<input type="text" name="firstname" value="">
			<br>
			Last name:<br>
			<input type="text" name="lastname" value="">
			<br>
			E-mail:<br>
			<input type="text" name="email" value="">
			<br><br>
			<input type="submit" value="Sign Up">
		</form>
	</section>

	<footer>
	Copyright © Sashiba/Alexander Pirnarev
	</footer>
	</body>
</html>